p {
	font-family:$roboto;
	font-size:$medium;
}

h1 {
	font-family:$pt-mono;
	font-size:$xxx-large;
	color:$black;
}

h2 {
	font-family:$pt-mono;
	font-size:$x-large;
	color:$black;
	font-weigth:$regular;
}

h3 {
	font-family:$roboto;
	font-size:$large;
	color:$black;
}


