//Esquema de color //

$white:#fff;
$isabelline:#eeeded;
$spanish:#989797;
$buff:#f1dd7b;
$vanilla:#f5e7a1;
$coral:#fa824c;
$flame:#e4572e;
$ligth-red:#e87554;
$pastel-pink:#f2b2a0;
$shiny:#4ca866;
$turquoise:#9dcfab;
$pastel-gray:#bddfc7;
$blue-france:#3c91e6;
$blue-jeans:#5fa5ea;
$jordy-blue:#82b9ef;
$black:#000000;
$outer:#454545;
$quick:#a2a2a2;

//Tipografia //

$pt-mono:'PT Mono', monospace;
$roboto:'Roboto', sans-serif;

//Pesos //
$light:300;
$regular:400;


//Tamaños de fuentes //

$xxx-large:70px;
$xx-large:40px;
$x-large:30px;
$large:18px;
$medium:16px;